.whatIsContainer {
    margin-top: 5rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatIsTitle {
    margin: 1rem 0;
    font-size: 2.2rem;
    color: black;
}

.whatIsDescription {
    color: grey;
    font-size: 1.5rem;
}

.whatIsSpan {
    color: black;
    font-weight: 550;
}

.whatIsTitle2 {
    margin-top: 8rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: black;
}

.itemCardContainer {
    margin: 4rem 0 6rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}