.whatIsContainer {
    margin-top: 5rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatIsTitle {
    margin: 1rem 2rem;
    font-size: 2.2rem;
    color: black;
}

.whatIsDescription {
    color: grey;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.whatIsSpan {
    color: black;
    font-weight: 550;
}

.whatIsTitle2 {
    margin: 8rem 2rem 0 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: black;
}

.itemCardContainer {
    margin: 4rem 2rem 6rem 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 750px) {

    .whatIsTitle,
    .whatIsTitle2 {
        font-size: 2rem;
    }

    .whatIsDescription {
        font-size: 1.2rem;
    }
}