.heroSection {
    margin-top: 60px;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("/images/hero/hero3.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroSection h1 {
    color: white;
    font-size: 3.5rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    margin: 0 2rem;
}

.heroSection h1 span {
    font-style: italic;
}

.heroDescription {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 2rem;
}

.searchClubSection {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 2rem;
}

.searchClubSection h3 {
    letter-spacing: 0;
}

.searchInputAndButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.searchInputContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 600px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
    background-color: white;
}

.searchInput {
    border: none;
    width: 100%;
    font-size: .9rem;
    outline: none;
    background-color: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.clubSearchResults {
    position: absolute;
    width: calc(100% - 4rem);
    top: 100px;
    background-color: white;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    animation: fadeIn 0.1s ease-in-out;
}

.clubItem {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.clubItem:hover,
.clubItem:focus {
    background-color: var(--blanco);
}

.searchLogoImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.searchClubName {
    font-size: .9rem;
    font-weight: 500;
}

.logoClubContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.searchLocation {
    font-size: .8rem;
    color: grey;
}

@media (max-width: 800px) {
    .searchClubSection {
        width: 80%;
    }

    .searchInputContainer {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .heroSection {
        min-height: 85vh;
    }

    .heroSection h1 {
        font-size: 3rem;
    }

    .heroDescription {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .heroSection h1 {
        font-size: 2.5rem;
    }

    .searchClubSection {
        padding: 2rem 1rem;
    }

    .searchClubSection h3 {
        font-size: 1rem;
    }

    .heroDescription {
        font-size: 1rem;
    }
}