.clubProfileContainerLoading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.pLoading {
    font-size: 1.5rem;
}

.noVideosFoundContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 2rem;
}

.noVideosFoundText {
    color: black;
    font-size: 1.2rem;
}

.clubProfileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clubImg {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.clubImg::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 100%);
    pointer-events: none;
}

.clubProfileContent {
    position: absolute;
    top: 200px;
    max-width: 1300px;
    width: 100%;
}

.clubProfileLogoAndName {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 2rem;
}

.clubProfileLogoAndNameContainer {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.clubProfileLogo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clubLogoImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.clubProfileNameAndLocation {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.clubProfileNameAndLocation p {
    color: grey;
}

.findYourMatchSection {
    margin: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
}

.filtersContainer {
    font-size: 1.2rem;
    padding: 2rem;
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.filterContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter {
    padding: .5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: var(--blanco);
    cursor: pointer;
    transition: all 0.2s ease;
}

.filter:hover {
    border-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.findYourMatchTitleContainer {
    background: linear-gradient(to right, var(--color-bg), white);
    border-bottom: 1px solid lightgrey;
    border-radius: 0.5rem 0.5rem 0 0;
}

.findYourMatchHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.findYourMatchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--color-secondary);
}

.findYourMatchTitleAndDescription h2 {
    color: black;
    font-size: 1.8rem;
}

.findYourMatchTitleAndDescription p {
    color: grey;
}

.importantNotice {
    color: grey;
    font-size: 1rem;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
    background-color: var(--blanco);
    border-left: 3px solid var(--color-primary);
    border-radius: 5px;
}

.importantNotice span {
    font-weight: bold;
}

.buttonVideoContainer {
    padding: 0 2rem 2rem 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animationIn {
    animation: fadeIn 0.1s ease-in-out;
}

.matchVideoPlayerContainer {
    margin: 0 2rem 2rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.titleMatchVideoPlayerContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    background: linear-gradient(to right, var(--color-bg), white);
}

.titleMatchVideoPlayer {
    font-size: 1.4rem;
    color: black;
}

.downloadInfoContainer {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: 500;

}

.clubProfileItems {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.clubProfileItem {
    display: flex;
    letter-spacing: -0.5px;
    align-items: center;
    gap: 0.2rem;
}

.pSlices {
    color: grey;
}

.clubProfileItems.mobile {
    display: none;
}

.descriptionMobile {
    display: none;
}

.findYourMatchHeader.mobile {
    display: none;
}

.anchordInstagram {
    color: grey;
    text-decoration: none;
    transition: all .2s ease;
}

.anchordInstagram:hover {
    font-weight: 600;
}

.hoursContainer {
    padding: .2rem .5rem;
    border-radius: 8px;
    background-color: white;
    border: 1px solid lightgrey;
    width: max-content;
    margin-top: 1rem;

    p {
        color: black;
        font-size: 0.8rem;
        letter-spacing: 0;
    }
}

.hoursContainer.mobile {
    display: none;
}

@media (max-width: 900px) {
    .filtersContainer {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .clubProfileLogoAndName {
        margin: 0 1rem;
    }

    .findYourMatchSection {
        margin: 2rem 1rem;
    }

    .matchVideoPlayerContainer {
        margin: 0 1rem 2rem 1rem;
    }
}

@media (max-width: 560px) {
    .clubProfileLogoAndName h1 {
        font-size: 1.7rem;
    }

    .clubProfileLogoAndName p {
        font-size: .9rem;
        letter-spacing: -0.2px;
    }

    .clubProfileLogo {
        width: 120px;
        height: 120px;
    }

    .clubLogoImg {
        width: 120px;
        height: 120px;
    }

    .findYourMatchTitleAndDescription h2 {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    .hoursContainer {
        p {
            font-size: .7rem;
        }
    }
}

@media (max-width: 530px) {
    .clubProfileItems.desktop {
        display: none;
    }

    .descriptionDesktop {
        display: none;
    }

    .clubProfileItems.mobile {
        display: flex;
        margin-top: 0;
    }

    .clubProfileLogoAndName {
        display: flex;
        flex-direction: column;
    }

    .clubProfileLogoAndNameContainer {
        justify-content: center;
    }

    .clubProfileItem {
        gap: 0.5rem;
        color: grey;
    }

    .descriptionMobile {
        display: flex;
        align-self: self-start;
        color: grey;
    }

    .filterContainer {
        flex-direction: column;
        align-items: start;
    }

    .hoursContainer.desktop {
        display: none;
    }

    .hoursContainer.mobile {
        display: block;
        align-self: flex-start;
        margin: 0;
    }
}

@media (max-width: 400px) {
    .clubProfileLogoAndName {
        margin: 0 1rem;
        padding: 1.5rem;
        gap: 1.2rem;
    }

    .findYourMatchSection {
        margin: 1rem;
    }

    .clubProfileLogoAndNameContainer {
        gap: 1rem;
    }

    .clubProfileLogoAndNameContainer h1 {
        font-size: 1.5rem;
    }

    .clubProfileLogo {
        width: 100px;
        height: 100px;
    }

    .clubLogoImg {
        width: 100px;
        height: 100px;
    }

    .findYourMatchHeader {
        padding: 1.5rem;
    }

    .filtersContainer {
        padding: 1.5rem;
    }

    .buttonVideoContainer {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .importantNotice {
        margin: 0 1.5rem 0 1.5rem;
    }

    .matchVideoPlayerContainer {
        margin: 0 1rem 2rem 1rem;
    }
}

@media (max-width: 360px) {
    .findYourMatchHeader.desktop {
        display: none;
    }

    .findYourMatchHeader.mobile {
        display: flex;
        flex-direction: column;
    }

    .titleFindYourMatch {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: black;
    }
}